{% extends 'base.html' %}
{% block content %}
 <html>
     <body>

<form>
<div class= "input-field col s6">
<input placeholder="placeholder" id="search" type="text" class="validate" name="search">
          <label for="search">search</label>
          </div>
     <button class="btn waves-effect waves-light" type="submit">Submit
    <i class="material-icons right">search</i>
  </button>

</form>


  <table>

      <tr>
          <th>name</th>
           <th>price</th>
            <th>quantity</th>
            <th>total_value</th>
      </tr>

    {% for product in MY_PRODUCTS %}
        <tr>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.total_value}}</td>
        </tr>
    {% endfor %}

  </table>
    <div class= "row">
        <form  method='POST'>
         <input placeholder="placeholder" id="search " type='text' name='name' >
         <input placeholder="placeholder" id="search " type='number' name='price'>
         <input placeholder="placeholder" id="search " type='number' name='value' >
        <button class="btn waves-effect waves-light" type="submit">Submit
    <i class="material-icons right">search</i>
  </button>

        </form>
    </div>

  </body>
</html>

{% endblock %}
